.container {
    overflow: hidden;
    padding: 0;
}
.col-4 h3 {
    color: #134880;
    font-family: 'SourceSansPro';
    font-size: 32px;

}
.col-4 p {
    color: #484A4C;
    font-family: 'SourceSansPro';
    font-size: 18px;

}
